* {
  box-sizing: border-box;
}

h1 {
  color: #fff;
  background: #000;
  font-family: 'Cinzel', Verdana, 'Arial Black', serif;
  font-size: 4em;
  margin: 0;
  padding: 1em;
  text-align: center;
}

img {
    padding: 2em;
    padding-left: 35em;
  }

.audio {
  position: relative;
}


article {
  font-size: 25px;
  padding: 2em;
  margin:  auto;
}

body {
  margin: auto;
  padding: 2em;
}

p {
  text-align: left;
  padding-left: 13em;
  Padding-right: 13em;
}

footer {
  background: #000;
  color: #fff;

}

div {
  max-width: 30%;
}

@media screen and (max-width: 800px) {

  body {
      width: 100%;
  }


  p{
  margin: 0;
  padding-bottom: 10em;}

  }
